<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet1.css">
    <title>Job Mancer | ZAP</title>
</head>

<body>
    <header id="maintopheader">
        <div class="container">
            <a href="/mancerpt6" id="name">Work History</a>
            <nav>
                <a href="/home">Home</a>
                <a href="/contact">Contact</a>
                <a href="/login">Log In</a>
                <a href="/resumeBuilder">Mancer</a>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <form>
        <div class="form-group">
            <h2>Job 1</h2>
            <label for="nameComp">Name of Company:</label>
            <input type="text" id="nameComp" name="nameComp" placeholder="krustykrab"><br>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" placeholder="frycook"><br>
            <label for="startDate">Enter Start Date:</label>
            <input type="text" id="startDate" name="startDate" placeholder="mm/yy">
            <label for="endDate">Enter End Date:</label>
            <input type="text" id="endDate" name="endDate" placeholder="mm/yy"><br><br>
            <label for="description">Description of Work:</label>
            <input type="text" id="description" name="description" maxlength="80" placeholder="Made Krabby Patties">
        </div>
        <div class="form-group">
            <h2>Job 2</h2>
             <label for="nameComp2">Name of Company:</label>
            <input type="text" id="nameComp2" name="nameComp2" placeholder="krustykrab"><br>
            <label for="title2">Title:</label>
            <input type="text" id="title2" name="title2" placeholder="frycook"><br>
            <label for="startDate2">Enter Start Date:</label>
            <input type="text" id="startDate2" name="startDate2" placeholder="mm/yy">
            <label for="endDate2">Enter End Date:</label>
            <input type="text" id="endDate2" name="endDate2" placeholder="mm/yy"><br><br>
            <label for="description2">Description of Work:</label>
            <input type="text" id="description2" name="description2" maxlength="80" placeholder="Made Krabby Patties">
            <button class="btn btn-alert"><a href="/mancercomplete" type="submit" id="pgsix">Finish</button></a><br>
        </div>
    </form>
    <script src="/js/extra.js"></script>
</body>

</html>