/*stylesheet1*/

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif; 
    line-height: 34px; 
    font-size: 18px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.75)),
    url("https://ze-robot.com/images/source/26078.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    color: rgb(255, 255, 255) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    content: '';
  
}

.container {
    width: 100%;
    max-width: 960px;
    clear: both;
}  

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom:0; 
}

h1, h2 {
    font-family: Georgia, Times,'Times New Roman' serif;
    font-weight: 700; 
    color: rgb(255, 255, 255); 
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 700; 
    font-size: 30px; 
    line-height: 49px; 
    border-bottom: 3px solid rgb(255, 255, 255); 
    padding-bottom: 20px; 
}

h2 {
    font-size: 24px; 
}

/* header */

#maintopheader {
    width: 100%; 
    z-index: 99;  
    text-decoration: none;
    overflow: auto; 
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0px 0px 30px;
    position: fixed;
    background-color: rgb(0, 0, 0);
}

#name {
    text-decoration: none; 
    float: left; 
    height: 90px; 
    width: 250px; 
    font-weight: 700; 
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font-size: 23px; 
    color: white; 
    background-color: none;  
    text-align: center; 
    line-height: 90px; 
}

nav { 
    float: right; 
    margin-top:25px; 
}

nav a {
    text-decoration: none; 
    font-weight: 400; 
    padding-left: 10px; 
    line-height: 18px; 
    color: white; 
    margin-left: 10px; 
    border-left: 1px solid white;
    display: inline-block; 
}

nav a:first-child {
    border-left: 0 none;
}

/* main */

#maincontainer {
    padding-top:130px; 
}

.mainsection {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background-color: none; 
    border: 1px solid #ddd;
}

/* sidebar */

.sidebar {
    background-color: none;
    padding: 30px; 
    width: 100%; 
    max-width: 270px; 
    float: right; 
    margin-bottom: 20px; 
}

 h2 {
    border-bottom: 2px solid #eee; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding-bottom: 20px; 
    margin-bottom: 15px; 
    line-height: 22px;
    text-align: center; 
}

.sociallinks {
    width: 65px; 
    height: 65px; 
    margin-top: 8px; 
}

.sociallinks:last-child {
    margin-right: 0; 
}

/* Portfolio Section */

.leftpicture {
    float: left;
  }
  
.rightpicture {
    float: right;
  }

/* footer */
.footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: black;
    text-align: center;
    background: none;
    height: 50px;
  }

  /* contact page */

#contactform ul {
    margin-bottom: 20px; 
}

#contactform li {
    margin-bottom: 10px;
}

label, 
input[type=text],
input[type=email],
textarea {
    display: block; 
    width: 100%; 
}

input[type=text],
input[type=email],
textarea {
    height: 35px; 
    border: 1px solid #ddd; 
    padding: 0 10px; 
    font-size: 15px;  
}

input[type=submit] {
    background-color:; 
    font-size: 18px; 
    color: white; 
    border: 0 none; 
    padding: 30px 30px; 
    cursor: pointer; 
}

.btn-block{
    background-color:orange;
}

textarea {
    text-align: center;
    height: 200px; 
}

.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #C0C0C0;
}

input, label {
    margin: 5px 5px;
  }
  
  .form-group {
    margin: 30px auto;
    width: 450px;
  }
  
  .form-control {
    float: left;
  }
  
  #inputStreet {
    width: 100%;
  }
  
  #inputCity {
    width: 50%;
  }
  
  #inputState {
    width: 15%;
  }
  
  #inputZip {
    width: 28%;
  }
  
  #inputCounty {
    width: 45%;
  }
  
  #inputCountry {
    width: 50%;
  }

  .signup-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.signup h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.signup-form input[type="password"],
.signup-form input[type="text"] {
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.signup-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #C0C0C0;
}

#su{
    color:black;
    background-color:orange;
    border-style:solid;
    border-color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    font-style: italic;  
}

#build{
    color:white;
    font-size:40px;
}

#paragraph{
    color:white;
    font-size:23px; 
}

#pgone{
    background-color:orange;
    color:black;
    border-color:black;
    border-style:solid;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}

#pgtwo{
    background-color:orange;
    color:black;
    border-color:black;
    border-style:solid;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}




